/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Redressed|Quintessential|Aladin|Marck+Script|Merienda+One|Patrick+Hand|Rochester|Sriracha');
body {
  font-family: "Quintessential", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size:20px;
  background-color:greenyellow;
}
#logo
{
  position:absolute;
  height:10%;
  width:5%  
}
legend
{
  font-family: "Aladin";
  font-size:30px;
}
#survey-form
{
  text-align:center;
  border-radius:25px;
}
#main
{
  background-color:white;
  margin:1% 10% 1% 10%;
  border-radius:5px;
}
h1 {
  font-family:palatino;
  text-align:center;
}
#description
{
  text-align:center;
  padding:30px;
  font-size:30px;
  font-family:"Redressed";
    background-color:whitesmoke;
}
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 58%;
  vertical-align: middle;
}
select
{
  width:58%;
}
#personal
{
  display:table;
  vertical-align:middle;
}